/*
  Name: Isaac Yeoh & Nelson Chen
  Date: June 5th, 2023
  Section: CSE 154 AG
  This is the stylesheet for our create.html page. It
  contains the styling for the form where the user has
  to fill their information in order to create a new
  user login. It centers the card in the middle of the
  page and makes the sign up button look 3 dimensional
  when the user clicks on it.
*/
.adjust {
  height: 100vh;
  display: inline-flex;
}

h1 {
  font-size: 30px;
}

#form {
  display: flex;
  flex-direction: column;
  width: 20%;
  border-style: solid;
  border-radius: 30px;
  padding: 5%;
  padding-top: 0%;
}

#form, .adjust {
  justify-content: center;
  align-items: center;
}

#form input, .adjust {
  width: 100%;
}

#name, #pass {
  margin-left: 0px;
}

#form input {
  font-size: 16px;
}

#pass {
  margin-bottom: 10px;
}

#sign-up {
  background-color: rgb(201, 201, 201);
  box-shadow: 0 2px 5px #3a39397a;
}

#sign-up:hover {
  cursor: pointer;
}

#sign-up:active {
  transform: translateY(5px);
  box-shadow: none;
}

.fade-in {
  color: rgb(59, 106, 66);
  animation: fadeInAnimation 1s;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}