h1 {
  font-size: 100px;
  margin: 0px;
  padding: 0px;
  top: 40%;
}

.caption {
  top: 55%;
  animation: fadeInAnimation ease 10s;
  animation-fill-mode: forwards;
  font-size: 40px;
}

h1, .caption {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

article {
  height: 100vh;
}

input, select {
  border-radius: 12px;
  height: 50px;
  border-color: black;
  border-width: 2px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

label {
  text-decoration: underline;
}

input, select, label {
  font-size: 28px;
}

h1, .caption, input, select {
  text-align: center;
}