/*
Name: Isaac Yeoh & Nelson Chen
Date: May 7th, 2023
Section: CSE 154 AG
This is the style sheet for our home page. It makes the "welcome"
text centered in the middle of the page and has a caption that fades
in when the user enters/refreshes the page. It also styles the filter
input boxes and the grid layout that the hotels are displayed in.
The option to change the grid layout to list layout will be added
in the near future.
*/
h1 {
  font-size: 100px;
  margin: 0px;
  padding: 0px;
  top: 40%;
}

.caption {
  top: 55%;
  animation: fadeInAnimation ease 10s;
  animation-fill-mode: forwards;
  font-size: 40px;
}

h1, .caption {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

article {
  height: 100vh;
}

select {
  height: 50px;
  border-color: black;
  border-width: 2px;
}

select, button {
  border-radius: 12px;
}

button {
  background-color: white;
  height: 30px;
  box-shadow: 0 2px 5px #3a39397a;
}

.search-bar {
  justify-content: space-evenly;
}

.search-bar > p {
  text-decoration: underline;
}

input, .search-bar > p {
  font-size: 28px;
}

h1, .caption, input, select {
  text-align: center;
}

/* For grid view of hotels */
.grid {
  margin: 5%;
  flex-wrap: wrap;
}

.display > a {
  margin: 15px;
  color: black;
  transition: .5s all;
}

.grid > a {
  height: 400px;
}

.display > a > div > img {
  height: 200px;
}

/* For list view of hotels */
.list {
  margin-left: 100px;
  margin-right: 100px;
}


.list > a {
  height: 250px;
}

.list > a > div {
  width: 60%;
}

.list > a > div > div, .list .price {
  margin: 20px;
}

.list .price {
  margin-left: auto;
}

.hotel-name {
  font-size: 24px;
  color: rgb(123, 123, 190);
}

.price {
  text-align: right;
  font-size: 20px;
  color: rgb(59, 106, 66);
}

.grid-view {
  width: 40px;
  height: 40px;
}

.list-view {
  width: 60px;
  height: 60px;
}

.grid, .list > a, .center {
  justify-content: center;
}

.grid, .search-bar, .center, .list > a > div {
  display: flex;
}

.grid > a, .display > a > div > img {
  width: 300px;
}

.search-bar, .center, .list > a {
  align-items: center;
}

.hotel-name, .price {
  margin: 0%;
}

.list-view, .grid-view {
  cursor: pointer;
}

.search-icon {
  height: 30px;
  width: 30px;
}

.search-icon:hover, button:hover {
  cursor: pointer;
}

.filter {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.search-bar> button:hover {
  transition: .5s;
  transform: translateY(5px);
}

.search-bar > button:active {
  box-shadow: none;
}

.display > a:hover {
  transform: translateY(-15px);
}