/*
Name: Isaac Yeoh & Nelson Chen
Date: June 3rd, 2023
Section: CSE 154 AG
This is the style sheet for the page when the user wants to view
more detailed information about a hotel. It sets the content
to the center of the page where the image of the hotel is placed
towards the left, and the description is on the right of the image.
The option to allow users to book is placed below the description, and
the submit button is placed below those options. It also hides and unhides error
messages when an issue occurs.
*/
article {
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 16px;
}

article > img {
  width: 600px;
  height: 400px;
  margin-top: 20px;
}

#description {
  width: 30%;
}

form, #description {
  flex-direction: column;
}

article, #description, form, #description > div > form > div {
  display: flex;
}

.adjust {
  width: 100%;
  display: inline-block;
}

.adjust > h1 {
  text-align: center;
  margin-top: 10%;
  font-size: 44px;
}

h2, h3, h4 {
  text-decoration: underline;
  margin-bottom: 5px;
  font-size: 24px;
}

.date-error, .conflict {
  color: rgb(222, 14, 14);
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.success {
  color: rgb(0, 159, 69);
}

.date-error, .conflict, .success {
  animation: fadeInAnimation 1s;
  font-size: 20px;
}

#description > div {
  margin-top: 24px;
}

#confirm {
  height: auto;
}

#description > div > form > div {
  margin-bottom: 16px;
}

#description > div > form > div, article {
  align-items: start;
}

label {
  margin-top: 10px;
}

#description > div > form > div label {
  margin-top: 0px;
}