/*
Name: Isaac Yeoh & Nelson Chen
Date: May 7th, 2023
Section: CSE 154 AG
This is the style sheet for the page when the user wants to view
more detailed information about a website. The image of the hotel
and the section containing all the details of the hotel
including the booking availabilities, google maps displaying address,
and the places to visit nearby is set to 30% of the width of the
page, and it's formatted into a column style.
*/
article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: start;
  font-size: 16px;
}

article > img {
  width: 600px;
  height: 400px;
  margin-top: 20px;
}

#description {
  width: 30%;
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
}

.adjust {
  width: 100%;
  display: inline-block;
}

.adjust > h1 {
  text-align: center;
  margin-top: 10%;
  font-size: 44px;
}

h2 {
  text-decoration: underline;
  margin-bottom: 5px;
}