/*
Name: Isaac Yeoh & Nelson Chen
Date: June 3rd, 2023
Section: CSE 154 AG
This is the style sheet for our reservations page. Similar to
the home page, it creates a list-view of the hotels that the user
has already booked. The image is set to the left of the card
and the name, reservation date, and price are contained on the right of the card.
*/

.adjust {
  width: 100%;
  display: inline-block;
}

.adjust > h1 {
  text-align: center;
  margin-top: 100px;
  font-size: 44px;
}

.adjust > article {
  justify-content: center;
  align-items: center;
}

.card {
  width: 60%;
}

.card > img {
  height: 200px;
}

.price {
  margin-left: auto;
  font-size: 20px;
  color: rgb(59, 106, 66);
}

.card > div {
  margin-left: 24px;
}

.card, .adjust > article, .card > div {
  display: flex;
}

.adjust > article, .card > div {
  flex-direction: column;
}

.reserve {
  margin-top: auto;
}

article > img, .card > img {
  width: 300px;
}

.card, article > img {
  margin-bottom: 40px;
}

.hotel-name {
  color: rgb(123, 123, 190);
}

.adjust > article > p, .hotel-name {
  font-size: 24px;
}