/*
  Name: Isaac Yeoh & Nelson Chen
  Date: June 3rd, 2023
  Section: CSE 154 AG
  This is the general style sheet shared between all pages.
  It contains the styling for the navigation bar, which
  consists of the logo, the option for users to login and logout,
  and a button for the menu to expand. When the menu expands,
  it provides an option for the user to return to the home page
  or view their reservations.
*/
body {
  background-color: rgb(246, 250, 254);
}

.create-acc, body {
  margin: 0%;
}

nav {
  height: 15%;
  justify-content: space-between;
  align-items: center;
}

nav > p {
  font-family: 'Merriweather', serif;
  margin: 10px;
}

nav > img, .menu, a > img {
  width: 40px;
  height: 40px;
}

.hidden {
  display: none;
}

.menu-bar {
  width: 250px;
  height: 90vh;
  margin: 0;
  border-bottom-right-radius: 50px;
}

.menu-box {
  justify-content: left;
  align-content: center;
  border-bottom: white solid;
}

.menu-box > a > p {
  font-size: 24px;
}

.menu, .menu-box > a > p {
  margin-left: 25px;
}

.right-icon, .menu-box > a > p {
  margin-right: 25px;
}

.fix {
  position: fixed;
  z-index: 1;
}

a > img {
  margin: 20px 25px;
}

a {
  text-decoration: none;
}

nav, .fix {
  width: 100%;
}

nav, .menu-bar, .align-right {
  background-color: rgb(28, 27, 27);
}

.menu-box, a, nav, .align-right {
  display: flex;
}

nav > p, .menu-box > a > p, .align-right > p, .login-box > label, .create-acc {
  color: white;
}

.login-box {
  margin-top: 5%;
}

.align-right {
  width: 20%;
  margin-left: auto;
  flex-direction: column;
  justify-content: flex-end;
  border-bottom-left-radius: 30px;
}

#username, #password {
  width: 90%;
  text-align: left;
  font-size: 16px;
}

#username, #password, .login-box > label, .create-acc, .prompt {
  margin-left: 10px;
}

.center {
  text-align: center;
  margin-bottom: 10px;
}

input {
  height: 50px;
  border-color: black;
  border-width: 2px;
}

.align-right > p {
  margin-left: 20px;
  font-size: 18px;
  margin-top: 5px;
}

#user {
  text-decoration-color: white;
}

.center > button {
  background-color: white;
  font-size: 14px;
}

.center > button:hover, .menu:hover, .right-icon {
  cursor: pointer;
}

input, .center > button {
  border-radius: 12px;
}

.prompt {
  color: rgb(255, 92, 92);
}

.prompt p {
  margin-top: auto;
  margin-bottom: auto;
  animation: fadeInAnimation 1s;
}

.issue, nav > p {
  font-size: 40px;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.create-acc {
  margin-top: 10px;
}

#user, .create-acc {
  text-decoration: underline;
}