body {
  margin: 0%;
  background-color: rgb(246, 250, 254);
}

nav {
  height: 15%;
  width: 100%;
  background-color: rgb(28, 27, 27);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > p {
  font-family: 'Merriweather', serif;
  color: white;
  margin: 10px;
  font-size: 40px;
}

nav > img, .left-icon, a > img {
  width: 40px;
  height: 40px;
}

.left-icon {
  margin-left: 25px;
}

.right-icon {
  margin-right: 25px;
}

.hidden {
  display: none;
}

.menu-bar {
  width: 250px;
  height: 90vh;
  background-color: rgb(28, 27, 27);
  margin: 0;
}

.menu-box > a > p {
  color: white;
  font-size: 24px;
  margin-left: 25px;
  margin-right: 25px;
}

.menu:hover {
  cursor: pointer;
}

.fix {
  position: fixed;
  z-index: 1;
  width: 100%;
}

.menu-box {
  display: flex;
  justify-content: left;
  align-content: center;
  border-bottom: white solid;
}

a > img {
  margin: 20px 25px;
}

a {
  text-decoration: none;
  display: flex;
}